@font-face {
    font-family: 'Space-Mono';
    src: url('Space-Mono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Space-Mono';
    src: url('Space-Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
