*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas:
    "hero"
    "introduce"
    "about-dark"
    "about"
    "about-light";
    grid-auto-rows: auto;
    grid-template-rows: 360px 410px 240px 300px 230px;
}

.header {
    grid-area: hero;
    z-index: 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
}

/**/
.hero {
    grid-area: hero;

    /*actions*/

    .hero_actions {
        display: flex;
    }

    .actions__item {
        flex: 1 1 auto;
        display: grid;
        place-items: center;
    }
}

.introduce {
    grid-area: introduce;
}

.about-dark {
    grid-area: about-dark;
}

.about {
    grid-area: about;
}

.about-light {
    grid-area: about-light;
}


.mobile-menu {
    nav {
        a {
            color: #000;
            font-size: 14px;
            font-weight: 600;
        }
    }
}


/* ----------------------------pad----------------------------------  */
@media screen and (min-width: 768px) {
    main {
        grid-template-areas:
        "hero hero hero hero hero"
        "about-dark about-dark introduce introduce introduce"
        "about about about about-light about-light";
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-template-rows: 360px 410px 300px;
    }
}

/* ----------------------------desktop----------------------------------  */
@media screen and (min-width: 1024px) {
    main {
        max-width: 1110px;
        margin: auto;
        grid-template-areas:
        "hero hero hero hero introduce introduce introduce"
        "about-dark about-dark about about about about-light about-light";
        grid-template-columns: repeat(7, minmax(0, 1fr));
        grid-template-rows: 360px 410px;
    }

}
