*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas:
    "hero"
    "introduce"
    "about-dark"
    "about"
    "about-light";
    grid-auto-rows: auto;
    grid-template-rows: 360px 410px 240px 300px 230px;
}

.header {
    grid-area: hero;
    z-index: 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
}

/**/
.hero {
    grid-area: hero;
}

.actions {
    grid-area: hero;
    align-self: flex-end;
    justify-self: flex-end;

    .actions__item {
        flex: 1 1 auto;
        display: grid;
        place-items: center;
    }
}

.introduce {
    grid-area: introduce;
}

.about-dark {
    grid-area: about-dark;
}

.about {
    grid-area: about;
}

.about-light {
    grid-area: about-light;
}


.mobile-menu {
    nav {
        a {
            color: #000;
            font-size: 14px;
            font-weight: 600;
        }
    }
}


/* ----------------------------pad----------------------------------  */
@media screen and (min-width: 768px) {
    main {
        grid-template-areas:
        "hero hero hero"
        "about-dark introduce introduce"
        "about about about-light";
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 360px 410px 300px;
    }

    /* link hover style */
    .header a {
        font-size: 15px;
        color: white;
        text-transform: lowercase;
        font-weight: 500;

        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: #fff;
            transition: width 0.3s;
        }
    }

    .header a:hover:after {
        width: 22px;
    }
}

/* ----------------------------desktop----------------------------------  */
@media screen and (min-width: 1024px) {
    main {
        min-height: 100vh;
        grid-template-areas:
        "hero hero introduce introduce"
        "about-dark about about about-light";
        grid-template-columns: 420fr 420fr 160fr 440fr;
        grid-template-rows: minmax(0, 530fr) minmax(0, 270fr);

        * {
            min-height: 0;
            min-width: 0;
        }
    }

    .actions {
        grid-area: introduce;
        align-self: flex-end;
        justify-self: flex-start;
    }
}
